/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: 300;
}

h4,
h5 {
    font-size: 2.8rem;
}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

/* Nav Section With HERO */

.main-head {
    background-color: #131c27;
    color: white;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 2 1 40rem;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0), transparent),
        url("img/pexels-edited-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3 {
    padding: 3rem;
}

/* BENEFITS SECTION */

#locations {
    min-height: 100vh;
    background: linear-gradient(#064b7a, transparent),
        url("img/pexels-pixabay-210186.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
    padding-top: 3rem;
}

/* Media Query */
@media screen and (max-width: 932px) {
    nav {
        text-align: center;
    }
    #logo {
        padding: 1rem;
    }
}
